<style type="text/css">
* {
  font-family: "DejaVu sans-serif", sans-serif;
  font-size: 0.95em
}
ul {
  margin: 0;
  list-style-type: none;
}
h1, h2 {
  margin-bottom: 0;
  font-size: 1em
}
h2 {
  margin-top: 0;
}
</style>
