<style type="text/css">
@media not screen {
  body {
    margin: 1.6cm;
    margin-bottom: 0cm;
  }
  .banners {
    display: none;
  }
}
@media screen {
  body {
    width: 96vw;
    max-width: 81ch;
    padding-top: 1cm;
    padding-bottom: 1cm;
    margin: 0 auto;
  }
}
body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}
h1, h3, code {
  color: #05497c;
}
h2 + h2, h3 {
  color: #A9A9A9;
}
code {
  white-space: normal;
}
ul, h1 {
  width: 100%;
}
h2, h3 {
  min-width: max-content;
  flex-basis: auto;
  flex-shrink: 0;
  flex-grow: 1;
}
h2 + h2 {
  justify-self: end;
  flex-shrink: 1;
  flex-grow: 0;
}
ul + h2 + h2 {
  padding-top: 3px;
}
h2:first-of-type, ul:first-of-type {
  margin: 0 auto;
  flex-flow: column wrap;
}
* {
  font-family: "Liberation Sans", sans-serif;
  font-size: 95%;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  margin: 0;
  list-style-type: none;
  padding-left: 6px;
  margin-bottom: 6px;
}
li {
  text-indent: -2ch;
  padding-left: 2ch;
  padding-top: 3px;
}
h1, h2, h3 {
  margin-bottom: 0;
}
h1 {
  margin-top: 12px;
  font-size: 115%;
  border-bottom: 1px solid;
}
h3 {
  margin-top: 0px;
  padding-left: 12px;
}
h2, h3 {
  margin-top: 0;
  font-size: 100%;
}
h3 + ul {
  padding-left: 18px;
}
ul + h2 {
  margin-top: 12px;
  padding-top: 3px;
}
h2:first-of-type, ul:first-of-type {
  text-align: center;
  display: inherit;
}
</style>
