<style type="text/css">
@page {
  margin: 1.5cm
  margin-left: 1cm;
  margin-right: 1cm;
  margin-bottom: 0cm;
}
@media screen {
  body {
    padding-top: 1cm;
  }
}
@media only screen and (min-width: 800px) {
  body {
    width: 775px;
  }
}
@media only screen and (max-width: 800px) {
  body {
    width: 98%;
  }
}
body {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
ul, h1 {
  width: 100%;
}
h2 {
  flex-shrink: 1;
  align-self: center;
  min-height: 0px;
  min-width: 0px;
}
h2 + h2, h3, code {
  color: #A9A9A9;
  align-self: flex-end;
  justify-self: end;
}
ul + h2 + h2 {
  padding-top: 3px;
}
h2:first-of-type, ul:first-of-type {
  margin: 0 auto;
  flex-flow: column wrap;
}
* {
  font-family: "Liberation Sans", sans-serif;
  font-size: 95%;
}
a {
  color: black;
  text-decoration: none;
}
ul {
  margin: 0;
  list-style-type: none;
  padding-left: 6px;
  margin-bottom: 6px;
}
li {
  text-indent: -2ch;
  padding-left: 2ch;
  padding-top: 3px;
}
h1, h2, h3 {
  margin-bottom: 0;
}
h1 {
  margin-top: 12px;
  font-size: 115%;
  color: #A9A9A9;
  border-bottom: 1px solid;
}
h3 {
  margin-top: 0px;
  padding-left: 12px;
}
h2, h3 {
  margin-top: 0;
  font-size: 100%;
}
h3 + ul {
  list-style-type: none;
  padding-left: 18px;
}
ul + h2 {
  margin-top: 12px;
  padding-top: 3px;
}
h2:first-of-type, ul:first-of-type {
  text-align: center;
  display: inherit;
}
</style>
