<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
<style type="text/css">
@media not screen {
  body {
    margin: 1.6cm;
    margin-top: 0.5cm;
    margin-bottom: 0cm;
  }
  .banners, .sidenote {
    display: none;
  }
}
@media screen {
  body {
    width: 96vw;
    max-width: 81ch;
    padding-top: 1cm;
    padding-bottom: 1cm;
    margin: 0 auto;
  }
}
@media (max-width: 760px) {
    label.margin-toggle:not(.sidenote-number) { display: inline; }
    .sidenote, .marginnote { display: none; }
    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }
}
header {
  display: none;
}
body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}
h1, code {
  color: #05497c;
}
h2 + h2, h3 {
  color: #A9A9A9;
}
code {
  white-space: normal;
}
ul, h1 {
  width: 100%;
}
h2, h3 {
  flex-shrink: 0;
  flex-grow: 1;
}
h2 + h2 {
  text-align: right;
}
ul + h2 + h2 {
  padding-top: 3px;
}
h2:first-of-type, ul:first-of-type {
  margin: 0 auto;
  flex-flow: column wrap;
}
* {
  font-family: "Liberation Sans", sans-serif;
  font-size: 95%;
}
a {
  color: inherit;
}
ul {
  margin: 0;
  list-style-type: none;
  padding-left: 6px;
  margin-bottom: 6px;
}
li {
  text-indent: -2ch;
  padding-left: 2ch;
  padding-top: 3px;
}
h1, h2, h3 {
  margin-bottom: 0;
  white-space: nowrap;
}
h1 {
  margin-top: 12px;
  font-size: 115%;
  border-bottom: 1px solid;
}
h3 {
  margin-top: 0px;
}
h2, h3 {
  margin-top: 0;
  font-size: 100%;
}
ul + h2 {
  margin-top: 12px;
  padding-top: 3px;
}
h2:first-of-type, ul:first-of-type {
  text-align: center;
  display: inherit;
}
.sidenote, .marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}
</style>
